/* @screen-xs-min 480px */
/* @screen-sm-min 768px */
/* @screen-md-min 992px */
/* @screen-lg-min 1200px */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle', sans-serif;
	margin-top: 0;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	color: #333;
	padding-bottom: 0.2em;
}

h2 {
	font-size: 1.2em;
	font-weight: normal;
}

/* Header */

header.main-header {
	background-color: rgba(86, 131, 9, 0.8);
	background-image: url('../images/header/grass-small.png');
	background-size: cover;
}

header.main-header .bar {
	background-color: #fff;
	padding-top: 0.3em;
	padding-bottom: 0.1em;
}

@media (min-width: 768px) {
	header.main-header {
		background-image: url('../images/header/grass-medium.png');
	}
}

.header-content {
	padding-top: 0.5em;
}

div.motto {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3em;
	letter-spacing: 0.1em;
	color: #fff;
	font-weight: 300;
	text-shadow: 0 0.04em 0 #444;
}

div.description {
	color: #eee;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

a.login {
	float: right;
	margin-left: 1em;
}

a.login i {
	margin-right: 0.3em;
}

div.selected-language {
	width: intrinsic;
	float: right;
	margin-right: 1em;
}

div.selected-language .language {
	padding: 0 0.5em;
	border-left: 0.1em solid #ccc;
	float: left;
}

div.selected-language span.language {
	color: #999;
}

div.selected-language .language:first-child {
	border-left: none;
}

div.header-selectors {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	float: right;
}

/* Navigation */

div.navigation {
	margin-top: 1em;
	overflow: auto;
	background-color: rgba(130,180,130, 0.70);
	/*background-image: url('../images/header/grass-small.png');*/
}

div.navigation a {
	display: inline-block;
	text-decoration: none;
	width: 100%;
	text-align: center;
	padding: 1.3em 0;
	margin: 0;
	float: left;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 100;
	font-size: 1em;
	border-right: 0.1em solid rgba(255, 255, 255, 0.6);
	border-bottom: 0.8em solid none;
}

div.navigation a:last-child {
	border-right: none;
}

@media (min-width: 480px) {
	div.navigation a {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	div.navigation a {
		width: 14.28%;
	}
}

div.navigation nav.tabs a:nth-child(1) {
	background-color: rgba(95, 131, 87, 0.3);
}

div.navigation nav.tabs a:nth-child(2) {
	background-color: rgba(79, 162, 46, 0.3);
}

div.navigation nav.tabs a:nth-child(3) {
	background-color: rgba(54, 98, 98, 0.3);
}

div.navigation nav.tabs a:nth-child(4) {
	background-color: rgba(95, 131, 87, 0.3);
}

div.navigation nav.tabs a:nth-child(5) {
	background-color: rgba(79, 162, 46, 0.3);
}

div.navigation nav.tabs a:nth-child(6) {
	background-color: rgba(54, 98, 98, 0.3);
}

div.navigation nav.tabs a:nth-child(7) {
	background-color: rgba(95, 131, 87, 0.3);
}

div.navigation nav.tabs a:nth-child(8) {
	background-color: rgba(79, 162, 46, 0.3);
}

div.navigation a.selected {
	border-bottom: 0.8em solid #f1db11 !important;
	padding-bottom: 0.5em !important;
}

div.navigation a.selected span {
	border-bottom: 0.1em solid #fff;
}

div.navigation nav.tabs a:not(.selected):hover {
	background-color: rgba(10, 10, 10, 0.4);
}

div.top-navigation {
	text-align: right;
	padding-bottom: 0.3em;
}

div.top-navigation ol.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}

/* Breadcrumb */

.breadcrumb {
	margin-bottom: 0.2em;
	background-color: #fff;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
	padding-left: 0;
}

/* Logo */

div.logo {
	color: #8fcd1f;
	font-size: 1.3em;
	vertical-align: bottom;
	display: table
}

div.logo span.site {
	float: left;
	display: inline-block;
	padding-top: 0.3em;
	padding-left: 0.3em;
    text-transform: lowercase;
}

div.logo span.site strong {
    font-weight: normal;
    color: #684c3e;
}

div.logo span.separator {
	color: #bbb;
}

div.logo i {
	margin-left: 0.2em;
}

div.logo i.fa-book {
	color: #684c3e;
}

img.logo {
	width: 100%;
	float: left;
}

@media (min-width: 480px) {
	img.logo {
		width: auto;
	}
}

/* Search box */

div.search {
	margin-top: 0.5em;
	background-color: rgba(255, 255, 255, 0.6);
}

div.search div.input-group-btn button {
	background-color: transparent;
	color: #666;
}

div.search input {
	border: none;
	background-color: transparent;
}

/* Footer */

footer {
	overflow: auto;
}

footer.inverted {
	border-top: 0.1em solid #aaa;	
	padding-top: 1em;
}

footer.inverted .breadcrumb {
	padding-top: 1.2em;
}

footer.inverted .breadcrumb a {
	color: #333;
	font-size: 0.9em;
}

footer ul.map {
	background-color: #fff;
	overflow: auto;
	padding-top: 1.5em;	
}

footer.inverted ul.map {
	background-color: #694c3e;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer > ul {
	padding: 0;
	font-size: 0.9em;
	margin: 0;
}

footer li {
	list-style: none;
	color: #333;
}

footer.inverted li {
	color: #fff;
}

footer > ul > li {
	padding: 0.5em 0.5em 0.5em 0em;
}

footer > ul > li > ul {
	height: 18em;
	margin-top: 1em;
}

footer > ul > li > ul > li {
	margin-top: 0.3em;
}

footer span.section {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.3em;
}

@media (min-width: 768px) {
	footer > ul > li {
		width: 20%;
		float: left;
	}
}

footer div.circle {
	background-color: #694c3e;
	width: 4em;
	height: 4em;
	padding: 0.6em 0.2em 0.2em 0.2em;
	border-radius: 2em;
	text-align: center;
	display: inline-block;
	color: #333;
}

footer.inverted div.circle {
	background-color: #333;
	color: #fff;
}

footer.signature {
	color: #333;
	padding: 1em 1em 2em 1em;
	font-size: 0.8em;
}

div.social {
	text-align: right;
	font-size: 0.6em;
	padding: 1em 0;
}

/* News */

div.news {
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: 0.1em solid #ddd;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 0.9em;
}

div.news p {
	margin-top: 0.5em;
}

div.news span.account {
	color: #888;
}

div.news div {
	word-break: break-word;
}

div.news img {
	width: 100%;
}

div.news p.by {
	color: #888;
}

div.news div.titles {
	margin-bottom: 1.5em;
	margin-top: 1em;
	color: #888;
}

div.news p.date {
	color: #888;
}

div.news div.left-bordered {
	border-left: 0.1em dotted #ccc;
}

div.news div.section {
	margin-bottom: 1em;
}

/* Content */

/* Home */

div.wrapper {
	background-color: #80ca00;
	padding-top: 0.1em;
	padding-bottom: 2em;
}

div.home {
	margin-top: 1.5em;
}

iframe.video {
	width: 100%;
	height: 15em;
}

.center {
	text-align: center;
}

i.module-icon {
	color: #694c3e;
	font-size: 2em;
	text-shadow: 1px 1px 0px #463026;
	margin-right: 0.2em;
}

button.module {
	font-family: 'News Cycle', sans-serif;
	letter-spacing: 0.1em;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #80c900;
	color: #694c3e;
}

button.module span {
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}

p.module-description {
	font-size: 1em;
	margin-top: 0em;
	text-align: left;
	line-height: 1.5em;
	color: #1f2e1b;
}

div.cloud {
	font-family: 'News Cycle', sans-serif;
	color: #fff;
	height: 16em;
}

div.cloud span {
	font-size: 1.3em;
	padding: 0 0.3em;
}

div.cloud span.t2 {
	font-size: 1.6em;
}

div.library-news {
	font-size: 0.8em;
	height: 20em;
}

div.library-news strong.title {
	display: inline-block;
	width: 100%;
	padding-bottom: 0.2em;
	margin-bottom: 0.3em;
	color: #fff;
	border-bottom: 0.1em solid #fff;
}

div.library-news strong {
	font-size: 1.1em;
}

div.library-news p {
	margin-top: 0.3em;
	padding-bottom: 0.4em;
	border-bottom: 0.1em solid #fff;
}

div.library-news a {
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
}

p.description {
	color: #444;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	margin-bottom: 2em;
}

div.users {
	width: 100%;
	margin-top: 1em;
}

div.users img {
	width: 18%;
	border-radius: 50%;
	margin: 0 0 0.5em 0;
	vertical-align: inherit;
}

span.featured-users {
	font-family: 'News Cycle', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
}

button.join-us {
	margin-bottom: 1em;
	width: 100%;
	height: 2.5em;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 0.05em;
	background-color: #80ca00;
	border: 0.06em solid #fff;
	border-radius: 0.2em;
	color: #fff;
}

/* Country */

div.main-content {
	margin-top: 0.3em;
	margin-bottom: 3em;
}

h1.country-name {
	position: relative;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h1.country-name:before {
    border-top: 0.05em solid #555;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: -1;
}

h1.country-name span {
	background-color: #fff;
	padding: 0 0.5em;
	margin-left: 0.5em;
}

h2.section {
	position: relative;
	color: #666;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 1.5em;
}

h2.section:before {
    border-top: 0.1em solid #ccc;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    z-index: -1;
}

h2.section span {
	background-color: #fff;
	padding: 0 1em;
}

iframe.map {
	width: 100%;
	height: 17em;
	border: none !important;
	margin-bottom: 2em;
	margin-top: 0.5em;
}

div.evolutions {
	margin: 0 !important;
}

table {
	width: 100%;
	margin-bottom: 2em;
}

td div.circle {
	border: 0.1em solid #bbb;
	width: 1.7em;
	height: 1.7em;
	border-radius: 50%;
	padding: 0.25em;
	float: right;
}

div.green {
	background-color: #00af10;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0.1em 0.1em 0.2em #317060;
}

div.red {
	background-color: #ff0002;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0.1em 0.1em 0.2em #713232;
}

div.yellow {
	background-color: #ffb902;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0.1em 0.1em 0.2em #b8b832;
}

td.issue {
	font-size: 0.8em;
	padding-top: 1em;
	padding-bottom: 1em;
}

table.graphs td {
	padding: 0.5em 0;
	border-bottom: 0.1em dotted #ccd0d5;
	color: #333;
	font-style: italic;
}

table.graphs td.year {
	text-align: right;
}

table.graphs tr:nth-child(even) {
	background-color: #faffff;
}

select.country-selector {
	height: 1.5em;
}

div#employment-timeline {
	margin-top: 1em;
}

select.data-sources {
	width: 100%;
	border-color: #ccc;
	border-style: solid;
	height: 8em;
	font-size: 1.1em;
	margin-bottom: 1em;
}

button.data-button {
	width: 100%;
	margin-top: 1em;
	background-color: #01A9DB;
	color: #fff;
	border-color: #2a7085;
}

button.data-button:hover {
	background-color: #2a7085;
	color: #fff;
}

button.data-button-dark {
	width: 100%;
	margin-top: 1em;
	background-color: #2a7085;
	color: #fff;
	border-color: #17414e;
}

button.data-button-dark:hover {
	background-color: #17414e;
	color: #fff;
}

a.more-info {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

p.at-button {
	margin-bottom: 0;
	font-style: italic;
	font-size: 0.9em;
}

div.lead {
	font-size: 0.9em;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 2em;
	color: #666;
}

div.socioeconomic-values table.graphs {
    display: table !important;   
}

div.socioeconomic-values th.indicatorCode, div.socioeconomic-values td.indicatorCode {
    display: none;
}

div.socioeconomic-values th.countryCode, div.socioeconomic-values td.countryCode {
    display: none;
}

div.socioeconomic-values th.countryName, div.socioeconomic-values td.countryName {
    display: none;
}

/* Maps */

div.map {
	position: relative;
}

div.map .map-container {
	height: 33em;
	margin-top: 2em;
	padding-bottom: 4em;
	position: relative;
}

div.jvectormap-container {
	width: 100%;
	height: 100%;
}

div.jvector-label {
	display: none;
}

div.country-label {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	text-align: center;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	color: #333;
	font-family: 'News Cycle', sans-serif;
}

table.map-data {
	display: none;
}

.jvectormap-region {
	stroke: #ddd;
	stroke-width: 1;
}

/* Charts */

.graphs {
    display: none;   
}

.indicatorSelector, .chartSelector, .seriesSelector {
    display: none;   
}

/* Countries */

.countries h1 {
    margin-top: 0.4em;
    margin-bottom: 0em;
}

.continents {
    border-top: 0.1em solid #ccc;
    margin-top: 1em;
}

.countries img.flag {
    width: 2em;
    margin-right: 1em;
    border: 0.1em solid #ccc;
    vertical-align: middle;
}

.countries span.name {
  
}

.countries-container input[type=checkbox] {
    margin-right: 0.4em;   
}

h1.country-name {
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1.country-name span.down {
	padding: 0 0 0 0.3em;
    position: absolute;
	right: 0;
}

.countries-container label {
    font-weight: normal;
}

.countries-container ul {
    margin-bottom: 1em;
    padding: 0.4em 0;
    list-style: none;
    border-bottom: 0.1em solid #eee;
    border-top: 0.1em solid #eee;
}

.countries-container li:first-child {
    margin-bottom: 0.6em;   
}

.countries-container p {
    margin: 1em 0;   
}

div.continent-countries {
	display: none;
	overflow: auto;
	padding-top: 1em;
	padding-bottom: 2em;
}

div.continent-countries div {
	margin-bottom: 0.7em;
}

/* Graphs */

div.graph, div.graph .region-chart {
	height: 20em;
	margin-bottom: 2em;
	margin-bottom: 0;
}

div.graph-small, div.graph-small .region-chart {
	height: 5em;
	margin-bottom: 1em;
	padding: 0 !important;
}

div.graph-large, div.graph-large -region-chart {
	height: 25em;
	margin-bottom: 3em;
}

/* 404 */

div.e404 {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

div.e404 p.error {
	font-size: 2.5em;
	color: #444;
}

div.e404 p.description {
	font-size: 1.5em;
	color: #888;
	margin-top: 1em;
}

.compass {
	text-align: center;
}

.compass div.compass-back {
	background-image: url('../images/compass_back.png');
	display: inline-block;
	width: intrinsic;
	margin: 0 auto;
}

.compass img {
	display: block;
}

/* Timeline */

div.timeline {
	margin-bottom: 3em;
}

div.timeline div.line {
	position: relative;
	margin-top: 0;
	overflow: hidden;
}

div.timeline div.line:before {
    border-top: 0.1em solid #999;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    z-index: -1;
}

div.timeline div.line div.year {
	display: inline-block;
	text-align: center;
	width: 20%;
	float: left;
}

div.years {
	overflow: hidden;
}

div.years div.year {
	float: left;
	width: 20%;
	text-align: center;
}

div.years div.year span {
	color: #555;
	font-family: 'News Cycle', sans-serif;
}

div.timeline div.line a.circle {
	background-color: #fff;
	border: 0.1em solid #555;
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
}

div.timeline div.line a.circle:hover {
	background-color: #59b3a1;
}

div.timeline div.line .selected a.circle {
	background-color: #555;
}

/* Login */

div.login-outer {
	background-color: #fafafa;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

div.login-wrap {
	background-color: #fff;
	padding: 0;
	box-shadow: 0 0.1em 0.1em #666;
	border: 0.1em solid #ccc;
	margin-top: 3em;
}

div.login-wrap .bar {
	padding: 0.5em 2em;
}

div.login-wrap .selected-language {
	margin-right: 0;
	font-size: 1.1em;
	padding-top: 0.3em;
}

.main {
	max-width: 40em;
	margin: 0 auto;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fafafa;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

h3 {
	text-align: center;
	margin-bottom: 1.5em;
}

.sign-in-button {
	width: 100%;
	font-size: 1.4em;
	padding: 0.5em 0;
}

span.login-box {
	background-color: #fff;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

div.login-input {
	margin-bottom: 1.5em;
}

div.login-header {
	background-color: rgba(86, 131, 9, 0.8);
	background-image: url('../images/header/grass-small.png');
	background-size: cover;
}

div.login-header .login-bar {
	padding: 0.2em 0.5em;
}

div.login-inner {
	padding: 2em;
}

.login-header div.login-inner {
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

div.login-wrap .tabs {
	overflow: auto;
	background-color: rgba(130,180,130, 0.70);
}

div.login-wrap .tab {
	float: left;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.1em;
}

div.login-wrap .tab a {
	color: #fff;
}

div.login-wrap .tab:nth-child(1) {
	background-color: rgba(95, 131, 87, 0.3);
	border-right: 0.1em solid #fff;
}

div.login-wrap .tab:nth-child(2) {
	background-color: rgba(79, 162, 46, 0.3);
}

div.login-wrap .tab a, div.login-wrap .tab span {
	display: inline-block;
	width: 100%;
	padding: 1.2em 0 1.2em 0;
}

div.login-wrap .tab span {
	padding-bottom: 0 !important;
}

div.login-wrap .tab.selected {
	padding-bottom: 0.4em !important;
	border-bottom: 0.8em solid #f1db11;
}

div.login-wrap .tab a:not(.selected):hover {
	background-color: rgba(10, 10, 10, 0.4);
	text-decoration: none;
}

/* Regions */

.socioeconomic-values table.graphs:nth-child(2) {
	display: none !important;
}

/* Widgets */

div.chart-type-texts span {
	font-size: 0.8em;
	margin-top: 2em;
}

div.chart-type-texts {
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: 0;
}

form.widget-description input, form.widget-description textarea {
	margin-bottom: 1em;
}

h2.country-form-title {
	margin-top: 1.5em;
}

div.colour {
	width: 2em;
	height: 2em;
}

.colour-first {
	background-color: #b41739;
}

.colour-second {
	background-color: #4293c6;
}

.colour-third {
	background-color: #17c8b6;
}

.colour-forth {
	background-color: #dba40b;
}

.colour-fifth {
	background-color: #70148e;
}

.graph-section button {
	margin-top: 2em;
}

div.image-format a {
	display: inline-block;
	font-size: 1.3em;
	margin-top: 0.6em;
}

div.widget-chart-button {
	padding-bottom: 0.2em;
	border: 0.1em solid #fff;
}

div.widget-chart-button:hover {
	border: 0.1em solid #ccc;
	background-color: #f5f5f5;
	border-radius: 0.3em;
}

div.widget-chart-button div {
	height: 4.5em;
	padding-top: 0.5em;
}

div.widget-button-selected {
	border: 0.1em solid #ccc;
	border-radius: 0.3em;
	color: #2b3a77;
}

div.widget-button-selected:hover {
	background-color: #fff;
}

/* Indicators */

div.marker {
	float: left;
	width: 1em;
	height: 2.7em;
	border-left: 0.3em solid #000;
	margin-right: 1em;
}

span.indicator-year {
	float: right;
	color: #254e87;
}

a.clear-all-link {
	float: right;
}

div.dataset-search {
	border: 0.1em solid #ccc;
	margin-bottom: 1em;
}

div.dataset-search input {
	font-size: 1.5em;
}

div.dataset-search i {
	font-size: 1.1em;
}

div.dataset-message {
	font-size: 1.4em;
	margin-top: 0.5em;
}

div.result-content {
	margin-top: 2em;
	border-bottom: 0.1em dotted #ccc;
}

div.compare-container {
	margin: 2em 0 2em 0;
}

select.topic-indicator-select {
	display: none;
}

select.topic-indicator-select:first-of-type {
	display: block;
}

.table img.flag {
	width: 1.5em;
	margin-right: 1em;
}

h1 span.indicator-name {
	font-size: 0.5em;
}