{{>header}}
<div class="content main-content container">
	<ol class="breadcrumb">
	  <li><a href="/book/regions/global">{{#labels}}{{land_book}}{{/labels}}</a></li>
	  <li class="active">{{#labels}}{{catalog}}{{/labels}}</li>
	</ol>
	<div class="row">

	</div>
	<div class="row">
	  <div class="col-sm-9">
		  <div class="input-group search dataset-search">
			<input type="text" class="form-control" placeholder="{{#labels}}{{search}}{{/labels}}" name="srch-term" id="srch-term-ckan">
				<div class="input-group-btn">
					<button class="btn" type="submit" onclick="loadSearchResults()"><i class="glyphicon glyphicon-search"></i></button>
				</div>
		  </div>
		  <table id="accordion" class="result-content panel-group table table-striped pages">
			<tr>
				<td>
					<div class="col-sm-9 dataset-message">
						{{#labels}}{{searching_datasets}}{{/labels}}
					</div>
				</td>
			</tr>
		  </table>
      </div>
	  <div class="col-sm-3">
		  <div id="panel-organizations" class="panel panel-default ckan-filter-panel">
			  <div class="panel-heading">
			  	<i class="fa fa-filter fa-lg"></i>
			  	{{#labels}}{{organizations}}{{/labels}}
			  	<a href="javascript:firstLoad()" class="clear-all-link">{{#labels}}{{clear_all}}{{/labels}}</a>
			  </div>
		  	  <ul class="list-group">
				<li class="list-group-item text-muted">{{#labels}}{{no_organizations}}{{/labels}}</li>
			  </ul>
	      </div>
		  <div id="panel-groups" class="panel panel-default ckan-filter-panel">
			  <div class="panel-heading">
			  	<i class="fa fa-filter fa-lg"></i>
			  	{{#labels}}{{groups}}{{/labels}}
			  	<a href="javascript:firstLoad()" class="clear-all-link">{{#labels}}{{clear_all}}{{/labels}}</a>
			  </div>
			  <ul class="list-group">
				<li class="list-group-item text-muted">{{#labels}}{{no_organizations}}{{/labels}}</li>
			  </ul>
	      </div>
		  <div id="panel-tags" class="panel panel-default ckan-filter-panel">
			  <div class="panel-heading">
			  	<i class="fa fa-filter fa-lg"></i>
			  	{{#labels}}{{tags}}{{/labels}}
			  	<a href="javascript:firstLoad()" class="clear-all-link">{{#labels}}{{clear_all}}{{/labels}}</a>
			  </div>
			  <ul class="list-group">
				<li class="list-group-item text-muted">{{#labels}}{{no_organizations}}{{/labels}}</li>
			  </ul>
	      </div>
		  <div id="panel-formats" class="panel panel-default ckan-filter-panel">
			  <div class="panel-heading">
			  	<i class="fa fa-filter fa-lg"></i>
			  	{{#labels}}{{formats}}{{/labels}}
			  </div>
			  <ul class="list-group">
				<li class="list-group-item text-muted">{{#labels}}{{no_organizations}}{{/labels}}</li>
			  </ul>
	      </div>
		  <div id="panel-licenses" class="panel panel-default ckan-filter-panel">
			  <div class="panel-heading">
			  	<i class="fa fa-filter fa-lg"></i>
			  	{{#labels}}{{licenses}}{{/labels}}
			  </div>
			  <ul class="list-group">
				<li class="list-group-item text-muted">{{#labels}}{{no_organizations}}{{/labels}}</li>
			  </ul>
	      </div>
	  </div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loading-dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1>{{#labels}}{{searching_datasets}}{{/labels}}</h1>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">100% Complete</span>
					  </div>
					</div>
				</div>
			</div>
		</div>
</div>
{{>footer}}

