{{>header}}
<input type="hidden" id="entity-id" value="{{entity-id}}" />
<input type="hidden" id="path" value="{{path}}" />
<input type="hidden" id="continent-id" value="{{#info}}{{#region}}{{un_code}}{{/region}}{{/info}}" />
<input type="hidden" id="continent-name" value="{{#info}}{{#region}}{{name}}{{/region}}{{/info}}" />
<input type="hidden" id="country-name" value="{{#info}}{{name}}{{/info}}" />
<input type="hidden" id="un-code" value="{{#info}}{{un_code}}{{/info}}" />
<input type="hidden" id="starred-indicators" value="{{#starred}}{{#indicators}}{{id}},{{/indicators}}{{/starred}}" />
<div class="content main-content container">
	<ol class="breadcrumb">
	  <li><a href="/book/regions/global">{{#labels}}{{land_book}}{{/labels}}</a></li>
	  <li><a href="/book/countries">{{#labels}}{{countries}}{{/labels}}</a></li>
	  <li>
	  	<a id="continent-link" href="/book/regions/{{#info}}{{#region}}{{un_code}}{{/region}}{{/info}}">
	  		{{#info}}{{#region}}{{name}}{{/region}}{{/info}}
	  	</a>
	  </li>
	  <li class="active"><span class="country-name">{{#info}}{{name}}{{/info}}</span></li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<h1 class="country-name">
				<span class="country-name no-margin flag">
					<img id="flag" class="flag" src="{{path}}/static/images/flags/{{#info}}{{iso3}}{{/info}}.png" />
					{{#info}}{{name}}{{/info}}
				</span>
			</h1>
		</div>
	</div>
	<div class="row">
	  <div class="col-sm-3">
	  	  <div id="world-map" class="world-map"></div>
	  	  <h2 class="section"><span>{{#labels}}{{country_map}}{{/labels}}</span></h2>
	  	  <div id="country-map" class="country-map"></div>
	  	  <!--
		  <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl={{#application}}{{language}}{{/application}}&amp;geocode=&amp;q={{#info}}{{country}}{{/info}}&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear={{#info}}{{country}}{{/info}}&amp;t=m&amp;z=4&amp;output=embed"></iframe> -->
		  <h2 class="section"><span>{{#labels}}{{main_index_rankings}}{{/labels}}</span></h2>
		  <div id="main-index-rankings" class="graph">
            {{#charts}}
            	<div class="source-graph chart-content">
	                {{#spider}}
	                    {{>table}}
											{{^observations}}
												<div class="text-center text-muted">{{#labels}}{{no_data_available}}{{/labels}}</div>
											{{/observations}}
	                {{/spider}}
            	</div>
            {{/charts}}
          </div>
		  <h2 class="section"><span>{{#labels}}{{gender_issues}}{{/labels}}</span></h2>
		  <table>
		  	{{#charts}}
		  		{{#trafficLights}}
		  			{{#observations}}
		  				<tr>
							<td class="issue">
								{{#indicator}}{{name}}{{/indicator}}
							</td>
							<td>
								<div class="circle"><div class="green"></div></div>
							</td>
		  				</tr>
		  			{{/observations}}
		  			{{^observations}}
		  				<div class="text-center text-muted">{{#labels}}{{no_data_available}}{{/labels}}</div>
		  			{{/observations}}
		  		{{/trafficLights}}
		  	{{/charts}}
		  </table>

		  <h2 class="section"><span>{{#labels}}{{rural_development}}{{/labels}}</span></h2>
		  <div class="row">
			{{#charts}}
				{{#gaugeIndicators}}
					<div class="col-xs-4">
					  <div id="rural-development-{{index}}" class="graph-small text-center no-signature">
			        <div class="source-graph chart-content">
				        {{>table}}
			        </div>
			        <p class="percentage">{{value}}%</p>
							<p class="indicator-name">{{indicator}}</p>
			      </div>
					</div>
				{{/gaugeIndicators}}
			{{/charts}}
	  	</div>

		</div>
	  <div class="col-sm-6 graph-section">
		  <h2 class="section"><span>{{#labels}}{{socio_economic_values}}{{/labels}}</span></h2>
          <div class="socioeconomic-values chart-content">
            {{#charts}}
                {{#tableIndicators}}
                    {{>table}}
                {{/tableIndicators}}
            {{/charts}}
        </div>
		  <h2 class="section"><span class="indicator-name"></span> <span>{{#labels}}{{for_countries}}{{/labels}}</span></h2>
		  <div id="mapDiv" class="map-medium indicator-map">
          		<div class="map-container"></div>
          		<div class="country-label"></div>
          </div>
		  <div id="chart-region-bar-comparison" class="graph-medium no-margin">
            {{#charts}}
            	<div class="source-graph chart-content">
	                {{#employment-agriculture}}
	                    {{>table}}
	                {{/employment-agriculture}}
            	</div>
            {{/charts}}
          </div>
		  <h2 class="section"><span class="indicator-name"></span> <span>{{#labels}}{{across_time}}{{/labels}} <span class="country-name">{{#info}}{{country}}{{/info}}</span></span></h2>
		  <div class="row">
			<div class="col-xs-4">
				{{#labels}}{{compare_with}}{{/labels}}:
			</div>
			<div class="col-xs-8">
			  <select id="country-comparison" class="form-control">
			  	{{#selectors}}
				  	{{#countries}}
						<option value="{{iso3}}">{{name}}</option>
					{{/countries}}
				{{/selectors}}
			  </select>
			</div>
		  </div>
		  <div id="chart-timeline-comparison" class="graph">
            {{#charts}}
            	<div class="source-graph chart-content">
	                {{#employment-timeline}}
	                    {{>table}}
	                {{/employment-timeline}}
            	</div>
            {{/charts}}
          </div>

	  	{{#starred}}
				{{#topics}}
					<h2 class="section"><span>{{name}}</span></h2>
					<div class="row evolutions">
						{{#indicators}}
				  		<div class="col-xs-3 no-signature">
				  			<div id="starred_{{id}}" class="graph-small"></div>
								<p class="indicator-name">{{name}}</p>
				  		</div>
						{{/indicators}}
					</div>
				{{/topics}}
	  	{{/starred}}

	  </div>
	  <div class="col-sm-3">
		  <h2 class="section"><span>{{#labels}}{{sources}}{{/labels}}</span></h2>
		  <select id="source-select" multiple="multiple" class="data-sources">
		  	{{#selectors}}
			  	{{#data-sources}}
					<option {{^with_data}}disabled="disabled"{{/with_data}}>{{name}}</option>
				{{/data-sources}}
			{{/selectors}}
		  </select>
		  <h2 class="section"><span>{{#labels}}{{indicators}}{{/labels}}</span></h2>
		  <select id="indicator-select" class="form-control">
			  	{{#selectors}}
				  	{{#data-sources}}
				  		<optgroup label="{{name}}">
				  			{{#indicators}}
								<option
									value="{{id}}" {{^with_data}}disabled="disabled"{{/with_data}}>{{name}}</option>
							{{/indicators}}
				  		</optgroup>
					{{/data-sources}}
				{{/selectors}}
		  </select>
		  <button id="full-data-button" class="btn data-button">
				{{#labels}}{{full_data}}{{/labels}} <span class="country-name">{{#info}}{{name}}{{/info}}</span>
			</button>
		  <a href="" class="more-info">{{#labels}}{{more_about_the_indicators}}{{/labels}}</a>
		  <h2 class="section"><span>{{#labels}}{{specific_country}}{{/labels}}</span></h2>
		  <select id="country-select" class="form-control">
		  	{{#selectors}}
			  	{{#countries}}
					<option value="{{iso3}}">{{name}}</option>
				{{/countries}}
			{{/selectors}}
		  </select>
		  <a href="" class="more-info">{{#labels}}{{more_about_areas_and_countries}}{{/labels}}</a>
		  <button class="btn data-button">
			{{#labels}}{{more_resources}}{{/labels}} <span class="country-name">{{#info}}{{name}}{{/info}}</span>
			<p class="at-button">{{#labels}}{{at}}{{/labels}} landportal.info</p>
		  </button>
		  <button class="btn data-button-dark">{{#labels}}{{land_debates}}{{/labels}} <span class="country-name">{{#info}}{{name}}{{/info}}</span></button>
	  </div>
	</div>
</div>
{{>footer}}
