<header class="main-header">{{>topbar-home}}</header>

<img src="{{path}}/static/images/carousel/first.jpg" class="home-img" alt="">

<div class="row home-caption">
  <div class="col-sm-12">
    <p>{{#labels}}{{motto_description_1}}{{/labels}}</p>
    <p>
      {{#labels}}{{motto_description_2}}{{/labels}}
      <a href="/about">{{#labels}}{{read_more_about_us}}{{/labels}}</a>
    </p>
  </div>
</div>
<div class="col-sm-3 home-piece-of-new" style="background-image: url({{path}}/static/images/carousel/ethiopia.png);">
  <div class="piece-of-new-text">Ethiopia: Land, Water Grabs Devastate Communities</div>
</div>
<div class="col-sm-3 home-piece-of-new" style="background-image: url({{path}}/static/images/carousel/people.jpg);">
  <div class="piece-of-new-text">Innovative tools and approaches for securing women's land rights</div>
</div>
<div class="col-sm-3 home-piece-of-new" style="background-image: url({{path}}/static/images/carousel/poor.jpg);">
  <div class="piece-of-new-text">World’s poorest need land rights to cope with climate change</div>
</div>
<div class="col-sm-3 home-piece-of-new" style="background-image: url({{path}}/static/images/carousel/forest.jpg);">
  <div class="piece-of-new-text">Forest Tenure Shifts to Communities as Governments Stay Dominant</div>
</div>

	<div class="content main-content container home-modules">
		<div class="row text-center">
			<div class="col-sm-4">
				<h2 class="land-module">land<span class="landbook">book</span></h2>
				<h3 class="module-motto">{{#labels}}{{book_motto}}{{/labels}}</h3>
				<p class="module-description">{{#labels}}{{book_description}}{{/labels}}</p>
        <a href="/book">
  				<button class="btn btn-default">
  					{{#labels}}{{visit_the}}{{/labels}} land<strong>book</strong>
  				</button>
        </a>
			</div>
			<div class="col-sm-4 middle-module">
				<h2 class="land-module">land<span class="landdebate">debate</span></h2>
				<h3 class="module-motto">{{#labels}}{{debate_motto}}{{/labels}}</h3>
				<p class="module-description">{{#labels}}{{debate_description}}{{/labels}}</p>
				<button class="btn btn-default">
					{{#labels}}{{join_the}}{{/labels}} land<strong>debate</strong>
				</button>
			</div>
			<div class="col-sm-4">
				<h2 class="land-module">land<span class="landlibrary">library</span></h2>
				<h3 class="module-motto">{{#labels}}{{library_motto}}{{/labels}}</h3>
				<p class="module-description">{{#labels}}{{library_description}}{{/labels}}</p>
				<button class="btn btn-default" disabled="disabled">
					{{#labels}}{{coming_soon}}{{/labels}}
				</button>
			</div>
		</div>
	</div>
{{>footer}}
