{{>header}}
<input type="hidden" id="entity-id" value="{{entity-id}}" />
<div class="content main-content container">
	<ol class="breadcrumb">
	  <li><a href="regions/global">{{#labels}}{{land_book}}{{/labels}}</a></li>
	  <li><a href="indicators">{{#labels}}{{indicators}}{{/labels}}</a></li>
	  <li class="active"><span class="indicator-name"></span></li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			
		</div>
	</div>
	<div class="row">
	  <div class="col-sm-9 graph-section">
	  	  <input type="hidden" id="path" value="{{path}}" />
		  <h1 class="country-name"><span class="indicator-name"></span></h1>
		  {{#charts}}
		  		{{#heat-map}}
		  			{{#years}}
				  <table class="map-data heat-map year-{{year}} topic-{{topic}}">
				  	<thead>
				  		<tr>
				  			<th>Country</th>
				  			<th>Value</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		{{#values}}
						  		<tr>
						  			<td>{{code}}</td>
						  			<td>{{value}}</td>
						  		</tr>
				  		{{/values}}
				  	</tbody>
				  </table>
				  	{{/years}}
		  		{{/heat-map}}
		  {{/charts}}
          <div id="mapDiv" class="map">
          		<div class="map-container"></div>
          		<div class="country-label"></div>
          </div>
          <div class="timeline">
          	<div class="line">
          		<div class="year" title="2008">
	          		<a href="" title="2008" class="circle"></a>
          		</div>
          		<div class="year" title="2009">
	          		<a href="" title="2009" class="circle"></a>
          		</div>
          		<div class="year" title="2010">
	          		<a href="" title="2010" class="circle"></a>
          		</div>
          		<div class="year" title="2011">
	          		<a href="" title="2011" class="circle"></a>
          		</div>
          		<div class="year selected" title="2012">
	          		<a href="" title="2012" class="circle"></a>
          		</div>
          	</div>
          	<div class="years">
          		<div class="year">
	          		<span title="2008">2008</span>
          		</div>
          		<div class="year">
	          		<span title="2009">2009</span>
          		</div>
          		<div class="year">
	          		<span title="2010">2010</span>
          		</div>
          		<div class="year">
	          		<span title="2011">2011</span>
          		</div>
          		<div class="year selected">
	          		<span title="2012">2012</span>
          		</div>
          	</div>
          </div>
		  <h2 class="section"><span>{{#labels}}{{evolution_of}}{{/labels}}</span> <span class="indicator-name"></span></h2>
		  <div class="row compare-container">
			<div class="col-xs-4">
				{{#labels}}{{compare_with}}{{/labels}}:
			</div>
			<div class="col-xs-8">
			  <select id="chart-timeline-comparison-indicator" class="form-control">
			  	{{#selectors}}
				  	{{#indicators}}
				  		<optgroup label="{{name}}">
				  			{{#indicators}}
								<option>{{name}}</option>
							{{/indicators}}
				  		</optgroup>
					{{/indicators}}
				{{/selectors}}
			  </select>
			</div>
		  </div>
		  <div id="chart-timeline-comparison" class="graph-large">
            {{#charts}}
            	<div class="indicator-chart">
	                {{#employment-timeline}}
	                    {{>table}}
	                {{/employment-timeline}}
            	</div>
            {{/charts}}          
          </div>
          
		  <div class="row compare-container">
			<div class="col-xs-4">
				{{#labels}}{{correlate_with}}{{/labels}}:
			</div>
			<div class="col-xs-8">
			  <select id="chart-correlate-comparison-indicator" class="form-control">
			  	{{#selectors}}
				  	{{#indicators}}
				  		<optgroup label="{{name}}">
				  			{{#indicators}}
								<option>{{name}}</option>
							{{/indicators}}
				  		</optgroup>
					{{/indicators}}
				{{/selectors}}
			  </select>
			</div>
		  </div>
		  <div id="chart-correlation-comparison" class="graph-large"></div>
		  <h2 class="section"><span class="indicator-name"></span> <span>{{#labels}}{{at_countries}}{{/labels}}</span></h2>
		  <div class="table-responsive">
			  <table id="country-values" class="table table-striped">
				  <thead>
				  		<tr>
					  		<th>Country</th>
					  		<th>Value</th>
					  		<th>Last update</th>
					  		<th>Tendency</th>
				  		</tr>
				  </thead>
				  <tbody>

				  </tbody>
			  </table>
		  </div>
	  </div>
	  <div class="col-sm-3">
		  <h2 class="section"><span>{{#labels}}{{topic}}{{/labels}}</span></h2>
		  <select id="topic-select" multiple="multiple" class="form-control data-sources">
		  	{{#selectors}}
			  	{{#indicators}}
			  		<option>{{name}}</option>
				{{/indicators}}
			{{/selectors}}
		  </select>
		  <h2 class="section"><span>{{#labels}}{{indicator}}{{/labels}}</span></h2>
		  <!-- all indicator selects -->
		  <div>
		  	{{#selectors}}
			  	{{#indicators}}
			  		<select class="form-control topic-indicator-select data-sources" multiple="multiple">
			  			{{#indicators}}
							<option value="{{id}}">{{name}}</option>
						{{/indicators}}
			  		</select>
				{{/indicators}}
			{{/selectors}}
		  </div>
		   </select>
		   <h2 class="section"><span>{{#labels}}{{all_indicators}}{{/labels}}</span></h2>
		   <select id="all-indicator-select" class="form-control">	
		  	{{#selectors}}
			  	{{#indicators}}
			  		<optgroup label="{{name}}">
			  			{{#indicators}}
							<option value="{{id}}">{{name}}</option>
						{{/indicators}}
			  		</optgroup>
				{{/indicators}}
			{{/selectors}}
		   </select>
		  <a href="" class="more-info">{{#labels}}{{more_about_the_indicators}}{{/labels}}</a>
		  
		  <button class="btn data-button">
			{{#labels}}{{consult_the_socieconomic}}{{/labels}}
		  </button>
		  <button class="btn data-button-dark">{{#labels}}{{debate_with_others}}{{/labels}}</button>
	  </div>
	</div>
</div>
{{>footer}}