<div class="container login-outer">
    <div class="">
        <div class="main login-wrap">
        	{{>login-header}}
        	<div class="login-inner">
	            <div class="row">
	                <div class="col-xs-6 col-sm-6 col-md-6">
	                    <a href="#" class="btn btn-lg btn-primary btn-block"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
	                </div>

	                <div class="col-xs-6 col-sm-6 col-md-6">
	                    <a href="#" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
	                </div>
	            </div>

	            <div class="login-or">
	                <hr class="hr-or">
	                <span class="span-or">{{#labels}}{{or}}{{/labels}}</span>
	            </div>

	            <form role="form" action="/user/login" method="post" accept-charset="UTF-8">
	            	<input type="hidden" name="form_build_id" value="form-GWgHvBznatdAeorFtFJSX4Z3FT0nfLEpl8ctAslPz6g">
	            	<input type="hidden" name="form_id" value="user_login">

	            	<label>{{#labels}}{{user}}{{/labels}}</label>
	            	<div class="input-group login-input">
	                	<span class="input-group-addon login-box"><i class="glyphicon glyphicon-user"></i></span>
	                    <input type="text" name="name" class="form-control" placeholder="{{#labels}}{{enter-user}}{{/labels}}">
	                </div>

	                <a class="pull-right" href="#">{{#labels}}{{forgot-password}}{{/labels}}</a>
	                <label>{{#labels}}{{password}}{{/labels}}</label>
	            	<div class="input-group login-input">
	                	<span class="input-group-addon login-box"><i class="fa fa-unlock-alt fa-lg"></i></span>
	                    <input type="password" name="pass" class="form-control" placeholder="{{#labels}}{{enter-password}}{{/labels}}">
	                </div>

	                <button type="submit" class="btn btn btn-success sign-in-button">{{#labels}}{{signin}}{{/labels}}</button>
	            </form>
        	</div>
        </div>
    </div>
</div>
