{{>header}}
<input type="hidden" id="entity-id" value="{{entity-id}}" />
<div class="content main-content container">
	<ol class="breadcrumb">
	  <li><a href="/">{{#labels}}{{index}}{{/labels}}</a></li>
		<li><a href="/book">{{#labels}}{{land_book}}{{/labels}}</a></li>
	  <li><a href="/book/regions">{{#labels}}{{regions}}{{/labels}}</a></li>
	  <li class="active"><span class="region-name"></span></li>
	</ol>
	<div class="row">
		<div class="col-sm-12">

		</div>
	</div>
	<div class="row">
	  <div class="col-sm-9 graph-section">
		  <h2 class="section section-name"><span class="indicator-name"></span></h2>
      <div id="map" class="map"></div>
		  <h2 class="section section-name"><span class="indicator-name"></span><span> </span><span>{{#labels}}{{for_countries}}{{/labels}}</span></h2>
		  <div id="chart-region-bar-comparison" class="graph-medium">
      </div>
		  <h2 class="section section-name"><span class="indicator-name"></span><span> </span><span>{{#labels}}{{across_time}}{{/labels}}</span><span> </span><span class="region-name"></span></h2>
		  <div class="row compare-bar">
				<div class="col-xs-4">
					{{#labels}}{{compare_with}}{{/labels}}:
				</div>
				<div class="col-xs-8">
				  <select id="region-comparing-select" class="form-control">
				  	{{#selectors}}
					  	{{#regions}}
					  		<option value="{{un_code}}">{{name}}</option>
					  	{{/regions}}
				  	{{/selectors}}
				  </select>
				</div>
		  </div>
			<div class="row compare-legend">
				<div class="col-xs-6">
					<div id="compare-legend-circle-1" class="circle"></div>
					<span id="compare-legend-text-1"></span>
				</div>
				<div class="col-xs-6">
					<div id="compare-legend-circle-2" class="circle"></div>
					<span id="compare-legend-text-2"></span>
				</div>
			</div>
		  <div id="chart-timeline-comparison" class="graph-large">
      </div>
	  </div>
	  <div class="col-sm-3">
		  <h2 class="section"><span>{{#labels}}{{world_region}}{{/labels}}</span></h2>
		  <select id="region-select" multiple="multiple" class="form-control data-sources">
		  	{{#selectors}}
			  	{{#regions}}
			  		<option value="{{un_code}}">{{name}}</option>
			  	{{/regions}}
		  	{{/selectors}}
		  </select>
		  <h2 class="section"><span>{{#labels}}{{sources}}{{/labels}}</span></h2>
		  <select id="source-select" multiple="multiple" class="form-control data-sources">
		  	{{#selectors}}
			  	{{#data-sources}}
					<option value="{{id}}" title="{{name}}">{{name}}</option>
				{{/data-sources}}
			{{/selectors}}
		  </select>
		   <h2 class="section"><span>{{#labels}}{{indicators}}{{/labels}}</span></h2>
		  <!--
			<select id="indicator-select" class="form-control">
			  	{{#selectors}}
				  	{{#data-sources}}
				  		<optgroup label="{{name}}" value={{organization_id}}>
				  			{{#indicators}}
									<option value="{{id}}">{{name}}</option>
								{{/indicators}}
				  		</optgroup>
						{{/data-sources}}
					{{/selectors}}
		   </select>
		  -->
			<!-- all indicator selects -->
			<div>
				{{#selectors}}
					{{#data-sources}}
						<select data-source="{{id}}" class="form-control topic-indicator-select data-sources hidden" multiple="multiple">
							{{#indicators}}
								<option value="{{id}}" title="{{name}}">{{name}}</option>
							{{/indicators}}
						</select>
					{{/data-sources}}
				{{/selectors}}
			</div>
			<select id="indicator-select" multiple="multiple" class="form-control data-sources">
			</select>

		  <a href="/book/indicators" class="more-info">{{#labels}}{{more_about_the_indicators}}{{/labels}}</a>
		  <h2 class="section"><span>{{#labels}}{{specific_country}}{{/labels}}</span></h2>
		  <select id="country-select" class="form-control">
				<option disabled="disabled" selected="true">{{#labels}}{{select_a_country}}{{/labels}}</option>
		  	{{#selectors}}
			  	{{#countries}}
					<option value="{{iso3}}">{{name}}</option>
				{{/countries}}
			{{/selectors}}
		  </select>
		  <a href="/book/countries" class="more-info">{{#labels}}{{more_about_areas_and_countries}}{{/labels}}</a>
			<h2 class="section"><span>{{#labels}}{{share}}{{/labels}}</span></h2>
			{{>share}}
	  </div>
	</div>
</div>
{{>footer}}
