{{>header}}
<input type="hidden" id="sparql-url" value="{{#application}}{{sparql-url}}{{/application}}" />
<div class="content main-content container">
	<ol class="breadcrumb">
		<li><a href="/">{{#labels}}{{index}}{{/labels}}</a></li>
		<li><a href="/book">{{#labels}}{{land_book}}{{/labels}}</a></li>
		<li class="active">{{#labels}}{{data}}{{/labels}}</li>
	</ol>
	<div class="row">

	</div>
	<div class="row">
		<div class="col-sm-9">
			<h1 class="country-name">
				<span>{{#labels}}{{linked_open_data_store}}{{/labels}}</span>
			</h1>
			<form id="run-query" role="form">
			  <div class="form-group">
			    <label for="namespace">{{#labels}}{{default_namespace}}{{/labels}}</label>
			    <input type="text" name="default-graph-uri" class="form-control" id="namespace" value="{{namespace}}" placeholder="{{#labels}}{{default_namespace}}{{/labels}}">
			  </div>
				<div class="form-group">
					<label for="query">{{#labels}}{{query}}{{/labels}}</label>
					<textarea name="query" class="form-control query" id="query">{{query}}</textarea>
				</div>
				<div class="form-group">
					<label for="format">{{#labels}}{{format}}{{/labels}}:</label>
					<select id="format" name="format">
						<option value="text/html" selected="selected">HTML</option>
						<option value="application/vnd.ms-excel">Spreadsheet</option>
						<option value="application/sparql-results+xml">XML</option>
						<option value="json">JSON</option>
						<option value="application/javascript">Javascript</option>
						<option value="text/plain">NTriples</option>
						<option value="application/rdf+xml">RDF/XML</option>
					</select>
				</div>
				<button class="btn data-button">
					{{#labels}}{{run_query}}{{/labels}}
				</button>
			</form>
			<div id="query-result-html" class="query-result-html">{{{html}}}</div>
			<div id="query-result" class="query-result">
				<pre class="prettyprint lang-{{language}}">{{result}}</pre>
			</div>
			<h2 class="section"><span>{{#labels}}{{query_examples}}{{/labels}}</span></h2>

<h3 class="example">{{#labels}}{{all_topics}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;

select * where
{
 ?topic rdf:type lbonto:Topic .
}
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> select * where { ?topic rdf:type lbonto:Topic .}" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>



<h3 class="example">{{#labels}}{{all_about_topics}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;

select ?topic, ?predicate, ?object where
      ?topic rdf:type lbonto:Topic .
      ?topic ?predicate ?object .
    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> select ?topic, ?predicate, ?object where ?topic rdf:type lbonto:Topic . ?topic ?predicate ?object .}" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>


<h3 class="example">{{#labels}}{{all_indicators}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;

select * where
    {
      ?indicator rdf:type cex:Indicator .
      ?indicator rdfs:label ?name .
    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX cex: <http://purl.org/weso/computex/ontology#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> select * where { ?indicator rdf:type cex:Indicator . ?indicator rdfs:label ?name .}" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>


<h3 class="example">{{#labels}}{{land_use_indicators}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs:&lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;
PREFIX base-topic: &lt;http://book.landportal.org/topic/&gt;

 select ?indicator, ?name, ?description  where
    {
      ?indicator rdf:type cex:Indicator .
      ?indicator lbonto:topic base-topic:LAND_USE .
      ?indicator rdfs:label ?name .
      ?indicator rdfs:comment ?description .
    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> PREFIX cex: <http://purl.org/weso/computex/ontology#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> PREFIX base-topic: <http://book.landportal.org/topic/> select ?indicator, ?name, ?description  where { ?indicator rdf:type cex:Indicator . ?indicator lbonto:topic base-topic:LAND_USE . ?indicator rdfs:label ?name . ?indicator rdfs:comment ?description . }" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>


<h3 class="example">{{#labels}}{{fao_african_countries}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;
PREFIX base: &lt;http://book.landportal.org/&gt;

 select ?iso3, ?name, ?url where
    {
      ?country rdf:type cex:Area .
      ?country lbonto:iso3 ?iso3 .
      ?country lbonto:is_part_of base:Africa .
      ?country rdfs:label ?name .
      ?country lbonto:faoURI ?url .

    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX cex: <http://purl.org/weso/computex/ontology#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> PREFIX base: <http://book.landportal.org/> select ?iso3, ?name, ?url where { ?country rdf:type cex:Area . ?country lbonto:iso3 ?iso3 . ?country lbonto:is_part_of base:Africa . ?country rdfs:label ?name . ?country lbonto:faoURI ?url . }" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>



<h3 class="example">{{#labels}}{{fao_of_african_countries_industry}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX rdfs:&lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;
PREFIX qb: &lt;http://purl.org/linked-data/cube#&gt;
PREFIX base: &lt;http://book.landportal.org/&gt;
PREFIX base-ind: &lt;http://book.landportal.org/indicator/&gt;

 select ?iso3, ?name, ?url where
    {
      ?country rdf:type cex:Area ;
               lbonto:iso3 ?iso3 ;
               lbonto:is_part_of base:Africa ;
               rdfs:label ?name ;
               lbonto:faoURI ?url .

      ?obs cex:ref-area ?country ;
           rdf:type qb:Observation ;
           cex:ref-indicator base-ind:INDLM4 ;
           cex:value ?value ;

      FILTER(?value &gt; 0) .

    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX cex: <http://purl.org/weso/computex/ontology#> PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> PREFIX qb: <http://purl.org/linked-data/cube#> PREFIX base: <http://book.landportal.org/> PREFIX base-ind: <http://book.landportal.org/indicator/> select ?iso3, ?name, ?url where  { ?country rdf:type cex:Area ; lbonto:iso3 ?iso3 ; lbonto:is_part_of base:Africa ; rdfs:label ?name ; lbonto:faoURI ?url . ?obs cex:ref-area ?country ; rdf:type qb:Observation ; cex:ref-indicator base-ind:INDLM4 ; cex:value ?value ; FILTER(?value > 0) . }" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>

<h3 class="example">{{#labels}}{{fao_country_with_undp_obs}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX lbonto: &lt;http://purl.org/weso/landbook/ontology#&gt;
PREFIX qb: &lt;http://purl.org/linked-data/cube#&gt;
PREFIX w3: &lt;http://www.w3.org/ns/org#&gt;
PREFIX : &lt;http://book.landportal.org/&gt;

 select ?iso3, ?name, ?url where
    {
      ?country rdf:type cex:Area ;
               lbonto:iso3 ?iso3 ;
               rdfs:label ?name ;
               lbonto:faoURI ?url .

      ?obs cex:ref-area ?country ;
           rdf:type qb:Observation ;
           qb:dataSet ?dataset .

      ?dataset rdf:type qb:DataSet ;
               lbonto:dataSource ?datasource.

      ?datasource rdf:type lbonto:DataSource ;
                  lbonto:organization ?org .

      ?org rdf:type w3:Organization ;
           rdfs:label &quot;UNDP: United Nations Development Programme&quot; .
    }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX cex: <http://purl.org/weso/computex/ontology#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX lbonto: <http://purl.org/weso/landbook/ontology#> PREFIX qb: <http://purl.org/linked-data/cube#> PREFIX w3: <http://www.w3.org/ns/org#> PREFIX : <http://book.landportal.org/> select ?iso3, ?name, ?url where { ?country rdf:type cex:Area ; lbonto:iso3 ?iso3 ; rdfs:label ?name ; lbonto:faoURI ?url .  ?obs cex:ref-area ?country ; rdf:type qb:Observation ; qb:dataSet ?dataset . ?dataset rdf:type qb:DataSet ; lbonto:dataSource ?datasource. ?datasource rdf:type lbonto:DataSource ; lbonto:organization ?org . ?org rdf:type w3:Organization ; rdfs:label &quot;UNDP: United Nations Development Programme&quot; . }" />
	<input type="hidden" name="format" value="json" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>

<h3 class="example">{{#labels}}{{obs_INDUNDP0_recent}}{{/labels}}</h3>
			<pre class="prettyprint lang-sql">
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX cex: &lt;http://purl.org/weso/computex/ontology#&gt;
PREFIX rdfs:&lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX qb: &lt;http://purl.org/linked-data/cube#&gt;
PREFIX base-ind: &lt;http://book.landportal.org/indicator/&gt;

 select ?country_name, ?year, ?value where
       {
         ?obs rdf:type qb:Observation ;
              cex:value ?value        ;
              cex:ref-time ?date      ;
              cex:ref-indicator base-ind:INDUNDP0;
              cex:ref-area ?country   .


         ?country rdf:type cex:Area   ;
                  rdfs:label ?country_name    .

         ?date cex:year ?year .

         FILTER (?year &gt; 2011)

       }
</pre>
<form>
	<input type="hidden" name="default-graph-uri" value="http://book.landportal.org/" />
	<input type="hidden" name="query" value="select ?country_name, ?year, ?value where { ?obs rdf:type qb:Observation ; cex:value ?value ; cex:ref-time ?date ; cex:ref-indicator base-ind:INDUNDP0 ; cex:ref-area ?country. ?country rdf:type cex:Area ; rdfs:label ?country_name . ?date cex:year ?year . FILTER (?year &gt; 2011) }" />
	<button class="btn data-button">
		{{#labels}}{{test_query}}{{/labels}}
	</button>
</form>


		</div>
		<div class="col-sm-3">
			<a href="/book/widgets">
				<button class="btn data-button">
					{{#labels}}{{create_your_widgets}}{{/labels}}
				</button>
			</a>
			<a href="/book/catalog">
				<button class="btn data-button">
					{{#labels}}{{browse_data_at_the_catalog}}{{/labels}}
				</button>
			</a>
			<a href="/wesby">
				<button class="btn data-button">
					{{#labels}}{{linked_data_browser}}{{/labels}}
				</button>
			</a>
			<a href="http://weso.github.io/landportalDoc/model/domain/">
				<button class="btn data-button">
					{{#labels}}{{data_model_documentation}}{{/labels}}
				</button>
			</a>
			<a href="http://weso.github.io/landportal-data-access-api/">
				<button class="btn data-button">
					{{#labels}}{{api_documentation_access}}{{/labels}}
				</button>
			</a>
			<a href="/book/catalog">
				<button class="btn data-button">
					{{#labels}}{{direct_data_download}}{{/labels}}
				</button>
			</a>
		</div>
	</div>
</div>
{{>footer}}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/trunk/src/lang-sql.js"></script>
