{{>header}}
<div class="content main-content container">
	<ol class="breadcrumb">
	  <li><a href="">{{#labels}}{{index}}{{/labels}}</a></li>
	  <li><a href="">{{#labels}}{{land_book}}{{/labels}}</a></li>
	  <li class="active">{{#labels}}{{widgets}}{{/labels}}</li>
	</ol>
	<div class="row">
		
	</div>
	<div class="row">
	  <div class="col-sm-9 graph-section">
		  <h2 class="section"><span>{{#labels}}{{create_own_data_view}}{{/labels}}</span></h2>
		  <form role="form">
		  	<div class="row">
			  	<div class="col-sm-8">
					<label for="indicator">{{#labels}}{{indicator}}{{/labels}}</label>
					<select id="indicator" class="form-control" disabled="disabled">
						<option>Indicator 1</option>
					</select>
				</div>		
				<div class="col-sm-4">
					<label for="number_years">{{#labels}}{{number_years}}{{/labels}}</label>
					<select id="number_years" class="form-control" disabled="disabled">
						<option>1</option>
					</select>
				</div>
		  	</div>
			<h2 class="section country-form-title"><span>{{#labels}}{{countries}}{{/labels}}</span></h2>
		  	<div class="row">
			  	<div class="col-sm-8">
					<label for="country">{{#labels}}{{select_country}}{{/labels}}</label>
					<select name="country" class="form-control">
						<option>Albania</option>
					</select>
				</div>		
				<div class="col-sm-4">
					<label>{{#labels}}{{pick_colour}}{{/labels}}</label>
					<div class="row">
						<div class="col-xs-2">
							<div class="colour colour-first"></div>
						</div>
						<div class="col-xs-2">
							<div class="colour colour-second"></div>
						</div>
						<div class="col-xs-2">
							<div class="colour colour-third"></div>
						</div>
						<div class="col-xs-2">
							<div class="colour colour-forth"></div>
						</div>
						<div class="col-xs-2">
							<div class="colour colour-fifth"></div>
						</div>
						<div class="col-xs-2">
							<i class="fa fa-plus fa-2x"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-right">
					<button type="button" class="btn btn-primary">
						{{#labels}}{{add_country}}{{/labels}}
					</button>
				</div>
		  	</div>
		  </form>
		  <h2 class="section country-form-title"><span>{{#labels}}{{preview}}{{/labels}}</span></h2>
		  <p id="chart-title">Title</p>
		  <p id="chart-description">Description</p>
		  <div id="mapDiv"></div>
		  <div class="row">
		  	<div class="col-sm-6">
			  <h2 class="section country-form-title"><span>{{#labels}}{{share}}{{/labels}}</span></h2>
			  <div class="row">
			  	<div class="col-sm-3 text-center">
				  	<a href="">
				  		<i class="fa fa-envelope fa-3x"></i>
				  	</a>
			  	</div>
			  	<div class="col-sm-3 text-center">
				  	<a href="">
				  		<i class="fa fa-twitter fa-3x"></i>
				  	</a>
			  	</div>
			  	<div class="col-sm-3 text-center">
				  	<a href="">
				  		<i class="fa fa-facebook fa-3x"></i>
				  	</a>
			  	</div>
			  	<div class="col-sm-3 text-center">
				  	<a href="">
				  		<i class="fa fa-linkedin fa-3x"></i>
				  	</a>
			  	</div>
			  </div>
		  	</div>
		  	<div class="col-sm-6">
			  <h2 class="section country-form-title"><span>{{#labels}}{{download}}{{/labels}}</span></h2>
			  <div class="row">
			  	<div class="col-sm-3 text-center image-format">
				  	<a href="">PNG</a>
			  	</div>
			  	<div class="col-sm-3 text-center image-format">
				  	<a href="">JPEG</a>
			  	</div>
			  	<div class="col-sm-3 text-center image-format">
				  	<a href="">GIF</a>
			  	</div>
			  	<div class="col-sm-3 text-center image-format">
				  	<a href="">SVG</a>
			  	</div>
			  </div>
		  	</div>
		  </div>
		  <h2 class="section country-form-title"><span>{{#labels}}{{permalink}}{{/labels}}</span></h2>
		  <p class="text-center">
			  <a href="">http://landportal.info/book/api/graphs/barchart?colour1=3</a>
		  </p>
		  <h2 class="section country-form-title"><span>{{#labels}}{{website_insert}}{{/labels}}</span></h2>
		  <label for="copy_code">{{#labels}}{{copy_code}}{{/labels}}</label>
		  <textarea class="form-control" id="copy_code" rows="8">(function(e,undefined){var t,n,r=typeof undefined,i=e.location,o=e.document,s=o.documentElement,a=e.jQuery,u=e.$,l={},c=[],p="2.0.3",f=c.concat,h=c.push,d=c.slice,g=c.indexOf,m=l.toString,y=l.hasOwnProperty,v=p.trim,x=function(e,n){return new x.fn.init(e,n,t)},b=/[+-]?(?:\d*\.|)\d+(?:[eE][+-]?\d+|)/.source,w=/\S+/g,T=/^(?:\s*(<[\w\W]+>)[^>]*|#([\w-]*))$/,C=/^<(\w+)\s*\/?>(?:<\/\1>|)$/,k=/^-ms-/,N=/-([\da-z])/gi,E=function(e,t){return t.toUpperCase()},S=function(){o.removeEventListener("DOMContentLoaded",S,!1),e.removeEventListener("load",S,!1),x.ready()};x.fn=x.prototype</textarea>
      </div>
	  <div class="col-sm-3">
	  	  <h2 class="section"><span>{{#labels}}{{graph_type}}{{/labels}}</span></h2>
	  	  <div class="row chart-type-texts">
	  	  	<div class="col-sm-4 text-center widget-chart-button widget-button-selected" chart-type="bar">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/bar-selected.png" alt="{{#labels}}{{bar_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{bar_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="line">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/line.png" alt="{{#labels}}{{line_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{bar_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="pie">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/pie.png" alt="{{#labels}}{{pie_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{bar_chart}}{{/labels}}</span>
	  	  	</div>
	  	  </div>
	  	  <div class="row chart-type-texts">
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="map">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/map.png" alt="{{#labels}}{{map_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{map_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="area">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/area.png" alt="{{#labels}}{{area_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{area_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="table">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/table.png" alt="{{#labels}}{{data_table}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{data_table}}{{/labels}}</span>
	  	  	</div>
	  	  </div>
	  	  <div class="row chart-type-texts">
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="polar">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/polar.png" alt="{{#labels}}{{polar_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{polar_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center widget-chart-button" chart-type="scatter">
	  	  		<div>
		  	  		<img src="{{path}}/static/images/widgets/scatter.png" alt="{{#labels}}{{scatter_chart}}{{/labels}}" />
	  	  		</div>
	  	  		<span>{{#labels}}{{scatter_chart}}{{/labels}}</span>
	  	  	</div>
	  	  	<div class="col-sm-4 text-center">

	  	  	</div>
	  	  </div>
	  	  <h2 class="section"><span>{{#labels}}{{tell_story}}{{/labels}}</span></h2>
	  	  <form role="form" class="widget-description">
			  <div class="form-group">
			    <label for="title">{{#labels}}{{title}}{{/labels}}</label>
			    <input type="text" class="form-control" id="title" value="Title" placeholder="{{#labels}}{{title}}{{/labels}}">
			    <label for="description">{{#labels}}{{description}}{{/labels}}</label>
			    <textarea class="form-control" id="description" rows="3">Description</textarea>
			    <label for="label_x">{{#labels}}{{label_x}}{{/labels}}</label>
			    <input type="text" class="form-control" id="label_x" value="Years" placeholder="{{#labels}}{{label_x}}{{/labels}}">
			    <label for="label_y">{{#labels}}{{label_y}}{{/labels}}</label>
			    <input type="text" class="form-control" id="label_y" value="Values" placeholder="{{#labels}}{{label_y}}{{/labels}}">
			  </div>
	  	  </form>
	  </div>
	</div>
</div>
{{>footer}}