<footer class="inverted">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<ol class="breadcrumb">
					<li>&copy; Land Portal Partnership</li>
					<li><a href="mailto:hello@landportal.info" title="Contact us by email">hello@landportal.info</a></li>
				  <li><a href="/about">{{#labels}}{{about}}{{/labels}}</a></li>
				</ol>
			</div>
			<div class="col-sm-3 social">
				<div class="circle">
					<a href="https://www.facebook.com/landportal" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
				</div>
				<span class="lead">&nbsp;&nbsp;</span>
				<div class="circle">
					<a href="https://twitter.com/landportal" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
{{#scripts}}
    <script src="{{script}}"></script>
{{/scripts}}
