<footer class="inverted">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<ol class="breadcrumb">
				  <li><a href="">{{#labels}}{{privacy_policy}}{{/labels}}</a></li>
				  <li><a href="">{{#labels}}{{terms_and_conditions}}{{/labels}}</a></li>
				  <li><a href="">{{#labels}}{{faq}}{{/labels}}</a></li>
				  <li><a href="">{{#labels}}{{contact}}{{/labels}}</a></li>
				  <li><a href="">{{#labels}}{{about}}{{/labels}}</a></li>
				</ol>
			</div>
			<div class="col-sm-4 social">
				<div class="circle">
					<i class="fa fa-facebook fa-3x"></i>
				</div>
				<span class="lead">&nbsp;&nbsp;</span>
				<div class="circle">
					<i class="fa fa-twitter fa-3x"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="signature">
	<div class="container">
		c/o IFAD, Via Paolo di Dono 44 | 00142 - {{#labels}}{{rome}}{{/labels}}, {{#labels}}{{italy}}{{/labels}} | hello@landportal.info
	</div>
</footer>
{{#scripts}}
    <script src="{{script}}"></script>
{{/scripts}}