<div class="bar">
    <img src="{{path}}/static/images/header/logo.png" alt="landportal.info" />
    <div class="selected-language">
        {{#application}}
            {{#languages}}
                {{#selected}}
                    <span class="language">{{code}}</span>
                {{/selected}}
                {{^selected}}
                    <a href="?language={{code}}" title="{{language}}" class="language">{{code}}</a>
                {{/selected}}
            {{/languages}}
        {{/application}}
    </div>
</div>
<div class="login-header">
    <div class="login-inner">
        <div class="motto">
            {{#labels}}{{join-us}}{{/labels}}
        </div>
        <div class="description">
            {{#labels}}{{login-description}}{{/labels}}
        </div>
    </div>
    <div class="tabs">
        {{#application}}
            {{#navigation}}
                {{#login}}
                    <div class="tab selected">
                        <span>{{#labels}}{{login}}{{/labels}}</span>
                    </div>
                {{/login}}
                {{^login}}
                    <div class="tab">
                        <a href="/user/login">{{#labels}}{{login}}{{/labels}}</a>
                    </div>
                {{/login}}
                {{#signup}}
                    <div class="tab selected">
                        <span>{{#labels}}{{signup}}{{/labels}}</span>
                    </div>
                {{/signup}}
                {{^signup}}
                    <div class="tab">
                        <a href="/user/register">{{#labels}}{{signup}}{{/labels}}</a>
                    </div>
                {{/signup}}
            {{/navigation}}
        {{/application}}
    </div>
</div>
