<form class="search-form" action="/search/site/" method="post" id="search-form" accept-charset="UTF-8">
    <div class="input-group search">
        <input type="text" name="keys" class="form-control" placeholder="{{#labels}}{{search}}{{/labels}}" name="srch-term" id="srch-term">
        <div class="input-group-btn">
            <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <input type="hidden" name="get" value="[]">
    <input type="hidden" name="form_build_id" value="form-QuQXQvEeNVWHMYgpC0NDa-VnGRqqoeS683QFCjxt3og">
    <input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
</form>
