<div class="row share">
	<div class="col-sm-6 text-center">
		<a id="mail-link" href="" target="_blank">
			<i class="fa fa-envelope fa-3x"></i>
		</a>
	</div>
	<div class="col-sm-6 text-center">
		<a id="twitter-link" href="" target="_blank">
			<i class="fa fa-twitter fa-3x"></i>
		</a>
	</div>
</div>
<div class="row share">
	<div class="col-sm-6 text-center">
		<a id="facebook-link" href="" target="_blank">
			<i class="fa fa-facebook fa-3x"></i>
		</a>
	</div>
	<div class="col-sm-6 text-center">
		<a id="linkedin-link" href="" target="_blank">
			<i class="fa fa-linkedin fa-3x"></i>
		</a>
	</div>
</div>
