<div class="bar">
	<div class="container">
		<div class="row">
			<div class="col-xs-7 col-sm-4 logo">
				<img src="{{path}}/static/images/header/logo.png" class="logo" alt="landportal.info" /> 
				<span class="site">
					<span class="separator"> | </span>
					<i class="fa fa-book fa-lg"></i> Land<strong>Book</strong>
				</span>
			</div>
			<div class="col-xs-5 col-sm-3 header-selectors">
				<a href="/user/login" title="{{#labels}}{{signin}}{{/labels}}" class="login">
					<i class="fa fa-user fa-lg" title="{{#labels}}{{signin}}{{/labels}}"></i>	
					{{#application}}
						{{#user}}
							{{name}}
						{{/user}}
						{{^user}}
							{{#labels}}{{signin}}{{/labels}}
						{{/user}}
					{{/application}}
				</a>
				<div class="selected-language">
					{{#application}}
						{{#languages}}
							{{#selected}}
								<span class="language">{{code}}</span>
							{{/selected}}
							{{^selected}}
								<a href="?language={{code}}" title="{{language}}" class="language">{{code}}</a>
							{{/selected}}
						{{/languages}}
					{{/application}}
					<form id="language-selection" method="POST">
						<input type="hidden" name="language" id="selected-language" />
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 top-navigation">
				<ol class="breadcrumb">
				  <li class="active">Land Book</li>
				  <li><a href="">Land Debate</a></li>
				  <li><a href="">Land Library</a></li>
				  <li><a href="">{{#labels}}{{sitemap}}{{/labels}}</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div style="background-color:#F2F5A9;color:#B40404;text-align:center;padding:0.2em 1em">
	This is just a demo version of a work in progress for the Land Portal redevelopment. This site is incomplete and several functionalities are still not available. All data being displayed are just random data used for testing and demonstration purposes. For more details about the status of the new Land Portal please contact <a href="mailto:hello@landportal.info">hello@landportal.info</a>
</div>